<launch>

	 <include file="$(find mavros)/launch/px4_laser.launch" />
	 <include file="$(find px4_autonomy)/launch/px4_autonomy.launch" />
	 <include file="$(find uav_nav)/launch/amcl_demo.launch" />

	 <node pkg="uav_nav" type="uav_nav" name="uav_nav" output="screen">

	 	<param name="spd_max"				value="0.2"/>
	 	<param name="origin_x"				value="0"/>
	 	<param name="origin_y"				value="0"/>
	 	<param name="scan_spd"				value="1"/>
	 	<param name="scan_delay"			value="5"/>
	 	<param name="stop_range"			value="0.2"/>
	 	<param name="safe_range"			value="0.8"/>
	 	<param name="brake_coe"				value="1"/>
	 	<param name="waypoint_group"		value="2"/>
	 	<param name="output_gazebo"			value="true"/>
	 	<param name="output_px4"			value="true"/>
	 </node>
</launch>
